.tools/
.tmp_pcsx2_cheats_collection/
.tmp_NetherSX2-Turnip/
.tmp_libadrenotools/
.tmp_driver/
.tmp_apkbuild/
dist/
*.apk
*.idsig
__pycache__/
game_crc_index.tsv
decomp/NetherSX2-build/
decomp/NetherSX2/
decomp/NetherSX2-v*-4248/
